.all-products-hero {
    background-image: url("../../images/diana-akhmetianova-pBBxMUCgwuU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    min-height: 350px;
    
    .all-products-hero-text {
        max-width: 50%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        position: absolute;
        right: 20px;
        top: 160px;
    }

    .all-products-hero-text p {
        max-width: 80%;
        margin: 0 auto 20px;
    } 
}

.products-container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    .product-item {
        text-decoration: none;
        position: relative;
        flex: 1 20%;
        margin: 10px 10px 40px;
        transition: 0.3s;
    }

    .product-item:hover {
        transform: scale(1.02);
    }

    .product-item img {
        display: block;
        margin: auto;
        height: 200px;
        object-fit: contain;
        max-width: 160px;
    }

    .product-item p,
    .product-item h3 {
        margin: 0;
    }

    .btn-add-to-cart {
        width: 100%;
        font-size: $xx-small;
        font-weight: 100;
        margin-top: auto;
    }

    .btn-add-to-cart:hover {
        cursor: pointer;
        background-color: $colour-mintblue;
        color: $colour-darkpurple;
    }

    .added {
        background-color: $colour-mintblue;
        color: $colour-darkpurple;
        font-weight: bold;
    }
}

@media only screen and (max-width: 600px) {
    .all-products-hero {
        
        .all-products-hero-text {
            max-width: 80%;
            position: relative;
            margin: auto;
            top: 50px;
            right: 0;
        }
    }

    .products-container {
        .product-item {
            flex: 1 40%;
        }

        .product-item img {
            max-height: 100px;
        }
    }
}