.filter-form input {
    margin-top: 20px;
    background-color: $colour-white;
    border: 1px solid $colour-darkpurple;
    height: 50px;
    border-radius: 2px;
    padding: 15px;
    width: 100%;
}