//fonts
$font-primary: "omnes-pro", sans-serif;
$font-headings: "dazzle-unicase", sans-serif;

//font sizes
$xx-small: 0.7rem;
$extra-small: 0.8rem;
$small: 1rem;
$small-medium: 1.2rem;
$medium: 1.6rem;
$large: 2.4rem;
$extra-large: 3rem;

//Colour Pallette
$colour-darkpurple: #221f26;
$colour-brown: #594d54;
$colour-blue: #9babbf;
$colour-mintblue: #b4cbd9;
$colour-light: #fcfcfc;
$colour-white: #fff;
$colour-success: green;
$colour-warning: orange;
$colour-error: red;

// white space
$bottom-space: 50px;
$top-space: 50px;